* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #F6F6FE;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.contenedor__cards {
	margin: 70px 0;
}

.card {
	background: #FFF;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 50px;
}

.card__thumbnail {
	width: 650px;
	height: 200px;
	margin-right: 20px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

.card__img {
	width: 100%;
}

.card__titulo {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 20px;
}

.card__enlace {
	color: #000;
}

.card__extracto {
	line-height: 28px;
	color: #6D6D6D;
	margin-bottom: 20px;
}

.boton {
	border: none;
	min-width: 180px;
	height: 50px;
	padding: 0 30px;
	background: #000;
	color: #fff;
	display: inline-block;
	border-radius: 100px;
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background: #403CC2;
	transition: .3s ease all;
}

.boton__texto {
	font-weight: 600;
}

.boton:hover {
	background: #1B1881;
	text-decoration: none;
}

.boton--absolute {
	position: absolute;
	right: 20px;
	bottom: -25px;
}

.boton--verde {
	background: #7BA771;
}

.boton--verde:hover {
	background: #437837;
}

.frase {
	text-align: center;
	margin: 70px 0;
}

.frase__texto {
	margin-bottom: 20px;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-style: italic;
}